.principal-aluno-container {
    width: 100%;
    max-width: 800px;
    margin: 40px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}


.principal-aluno-container h2 {
    text-align: center;
    color: #222;
    font-size: 28px;
    margin-bottom: 32px;
}

.principal-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.principal-aluno-container label {
    font-weight: 600;
    color: #333;
    margin-bottom: 6px;
}

.principal-aluno-container select,
.principal-aluno-container textarea {
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
}

.input-anexo label {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 14px;
    border: 2px dashed #bbb;
    border-radius: 8px;
    color: #444;
    background-color: #fafafa;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-anexo label:hover {
    background-color: #f0f0f0;
}

.input-anexo input[type="file"] {
    display: none;
}

.principal-file-list {
    background-color: #f6f6f6;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    color: #555;
}

.principal-aluno-container textarea {
    height: 120px;
    resize: vertical;
}

.principal-submit-button {
    background-color: #2685bf;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.principal-submit-button:hover {
    background-color: #1f6f9e;
}

.principal-message {
    margin-top: 20px;
    color: #d9534f; 
    text-align: center;
    font-weight: bold;
}

.principal-aluno-container {
  width: 100%;
  max-width: 600px;
  margin-top: 120px; /* espaçamento do topo */
  padding: 30px;
  background-color: #87cbf6; /* azul sólido */
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  color: white; /* texto branco para contraste */
}



h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  color: #34495e;
}

input[type="text"],
input[type="email"],
input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
}

input[type="file"] {
  padding: 6px;
}

button {
  padding: 12px ;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.link-anexos {
  color: black;
  text-decoration: none; 
  cursor: pointer;
}

.link-anexos:hover {
  text-decoration: underline; 
}
