.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2685bf;
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white; 
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navbar-links a:hover {
  text-decoration: underline;
}

.navbar-links a svg {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .navbar-links a {
    font-size: 14px;
    margin-left: 10px;
  }
}

.solicitacoes-container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.solicitacoes-container h2 {
    margin-top: 100px;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}


@media (max-width: 1200px) {
    .solicitacoes-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 992px) {
    .solicitacoes-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 768px) {
    .solicitacoes-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 576px) {
    .solicitacoes-grid {
        grid-template-columns: 1fr; 
    }

    .navbar-links {
        display: block; 
    }

    .navbar-toggle {
        display: block; 
    }
}



.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: bold;
  text-transform: capitalize;
  color: white;
}

.status-analisando {
  background-color: rgb(243, 243, 5);
  color: black;
}

status-analisando {
    background-color: rgb(243, 243, 5);
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .status-aceito {
    background-color: green;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .status-indeferido {
    background-color: red;
    color: white;
    padding: 4px 8px;
    border-radius: 2%;
  }

  .solicitacoes-table th{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
    background-color: #2685bf;
 }
  

 